.user-submenu {
    width: 10rem;
    position: absolute;
    list-style: none;
    text-align: start;
}

.user-submenu li {
    background: rgb(0, 212, 212);
    cursor: pointer;
}

.user-submenu li a:hover {
    background: rgb(0, 175, 175);
}

.user-submenu.clicked {
    display: none;
}

.submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 20px;
}
