@import 'normalize.css';
@import url('https://cdn.syncfusion.com/ej2/material.css');

:root {
    --primary: #fe2c55;
}

html {
    font-size: 62.5%;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}
